{# empty Twig template #}

{{ set_assets('applications/Faqs/assets/css/faq.css') }}


{% for key,faq in items %}
    <h4>
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapse{{ faq.id }}" title="{{ faq.title }}">
            {{ faq.title }}
        </a>
    </h4>

    <p>
        {{ faq.answer|raw }}
    </p>
    <div class="clearfix"></div>
{% endfor %}


{% include "items.pagination.twig"%}

